.container {
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    display: flex;
}

/* Horizontal alignment */
.start {
    justify-content: flex-start;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

/* Vertical alignment */
.top {
    align-items: flex-start;
}

.middle {
    align-items: center;
}

.bottom {
    align-items: flex-end;
}

.stretch {
    align-items: stretch;
}


