.error {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: var(--shadow);
    background-color: rgb(247, 247, 247);
    text-align: center;
    font-size: 14px;
    color: var(--red);
}