.app {
  width: 80%;
  padding: 15px 0;
  margin: 0 auto;

  .button-group {
    display: flex;

    .button {
      margin-right: 25px;
      padding: 15px 25px;
      border: 1px solid rgb(40, 40, 40);
      box-sizing: border-box;
      background-color: rgb(75, 75, 75);
      font-size: 12px;
      color: rgb(230, 230, 230);
      cursor: pointer;
      outline: none;
      transition: .25s background-color;

      &:hover{
        background-color: rgb(40, 40, 40);
      }
    }
  }

  .preloader {
    text-align: center;

    img {
      height: 75px;
    }
  }
}