@value primary, onPrimary from "./colors.css";
@value fontFamily, fontWeight, fontSize from "./typography.css";

:global(html), :global(body) {
    width: 100%;
    height: 1px;
    min-height: 100%;
}

:global(#root) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: onPrimary;
    font-family: fontFamily;
    font-weight: fontWeight;
    font-size: fontSize;
    background: primary;
}
